* {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.header__area {
  background-color: #351a0a80;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header__area .header__flex___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.header__left {
  width: 30%;
}

.header__right {
  width: 70%;
  text-align: right;
}

.header__right .header__form--relative {
  position: relative;
}

.header__right input[type="text"] {
  border: none;
  border-radius: 10px;
  background-color: #1F242A;
  width: 210px;
  padding: 1px 10px;
  color: #ffffff;
}

.header__right input[type="text"]::-webkit-input-placeholder {
  color: #f1f1f1;
  font-size: 14px;
}

.header__right input[type="text"]:-ms-input-placeholder {
  color: #f1f1f1;
  font-size: 14px;
}

.header__right input[type="text"]::-ms-input-placeholder {
  color: #f1f1f1;
  font-size: 14px;
}

.header__right input[type="text"]::placeholder {
  color: #f1f1f1;
  font-size: 14px;
}

.header__right .header__link--absolute {
  position: absolute;
  top: -1;
  right: 5px;
  color: #ffffff;
}

.header__right ul {
  margin-top: 30px;
}

.header__right ul li {
  display: inline-block;
  margin-left: 25px;
}

.header__right ul li a {
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__right ul li a:hover {
  color: black;
}

.Banner__area {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  height: 80vh;
  position: relative;
}

.today {
  background-color: #e7e7e7;
  border-bottom: 5px solid #dadada;
}

.today .today_flex__container {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.today .today__left {
  width: 70%;
}

.today .today__left h2 {
  font-size: 32px;
}

.today .today__right {
  width: 30%;
  text-align: right;
}

.today .today__right h3 {
  display: inline-block;
  padding: 10px;
  border-radius: 7px;
  font-size: 26px;
  color: #ffffff;
  background-color: #1F242A;
}

.service {
  padding: 80px 0;
}

.service .service__flex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service .service__flex__container .service__section {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service .service__flex__container .service__section .service__image {
  width: 100px;
  height: 100px;
}

.service .service__flex__container .service__section .service__image img {
  width: 100%;
  height: 100%;
}

.service .service__flex__container .service__section .service__text {
  width: 182px;
}

.service .service__flex__container .service__section .service__text h4 {
  font-size: 20px;
  position: relative;
}

.service .service__flex__container .service__section .service__text h4:after {
  position: absolute;
  content: "";
  width: 95px;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: -20%;
}

.service .service__flex__container .service__section .service__text p {
  font-size: 14px;
  margin-top: 10px;
}

.indonectetus {
  padding-bottom: 80px;
}

.indonectetus .indonectetus__heading {
  text-align: center;
}

.indonectetus .indonectetus__heading .indonectetus__heading--relative {
  position: relative;
  font-size: 24px;
  display: inline-block;
}

.indonectetus .indonectetus__heading .indonectetus__heading--relative::after {
  position: absolute;
  content: "";
  width: 420px;
  height: 3px;
  background-color: black;
  top: 18px;
  left: calc(100% + 23px);
}

.indonectetus .indonectetus__heading .indonectetus__heading--relative::before {
  position: absolute;
  content: "";
  width: 420px;
  height: 3px;
  background-color: black;
  top: 18px;
  right: calc(100% + 23px);
}

.indonectetus__grid__container {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  row-gap: 30px;
}

.indonectetus__grid__container .indonectetus__child .indonectetus__image {
  width: 300px;
  height: 170px;
}

.indonectetus__grid__container .indonectetus__child .indonectetus__image img {
  width: 100%;
  height: 100%;
}

.indonectetus__grid__container .indonectetus__child .indonectetus__text {
  background-color: #351a0a;
  color: #ffffff;
  width: 300px;
  height: auto;
  text-align: center;
}

.indonectetus__grid__container .indonectetus__child .indonectetus__text h4 {
  padding-top: 10px;
  font-size: 14px;
}

.indonectetus__grid__container .indonectetus__child .indonectetus__text p {
  font-size: 12px;
  padding: 10px 0;
}

.footer__area {
  background-color: #351a0a;
  padding: 50px 0 20px 0;
}

.footer__area .footer__flex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__area .footer__flex__container .footer__child {
  width: 230px;
}

.footer__area .footer__flex__container .footer__child h3 {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer__area .footer__flex__container .footer__child address {
  color: #ffffff;
}

.quick__links ul li a {
  color: #ffffff;
}

.quick__links .links__hr {
  background-color: #ffffff;
  margin: 5px 0;
}

.blog {
  color: #ffffff;
}

.blog h4 {
  font-size: 16px;
}

.blog span {
  font-size: 12px;
}

.blog p {
  font-size: 14px;
}

.blog a {
  float: right;
  font-size: 14px;
  color: #ffffff;
}

.newslatter input[type="text"], .newslatter input[type="email"] {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  background-color: transparent;
}

.newslatter input[type="text"]::-webkit-input-placeholder, .newslatter input[type="email"]::-webkit-input-placeholder {
  color: #f2f2f2;
}

.newslatter input[type="text"]:-ms-input-placeholder, .newslatter input[type="email"]:-ms-input-placeholder {
  color: #f2f2f2;
}

.newslatter input[type="text"]::-ms-input-placeholder, .newslatter input[type="email"]::-ms-input-placeholder {
  color: #f2f2f2;
}

.newslatter input[type="text"]::placeholder, .newslatter input[type="email"]::placeholder {
  color: #f2f2f2;
}

.newslatter button {
  background-color: #190a02;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 5px;
  color: #ffffff;
  text-transform: uppercase;
}

.copyright {
  background-color: #190a02;
  padding: 20px 0;
}

.copyright .copyright___flex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright .copyright___flex__container .copyright__left {
  width: 50%;
  color: #ffffff;
}

.copyright .copyright___flex__container .copyright__right {
  width: 50%;
  color: #ffffff;
  text-align: right;
}

@media only screen and (max-width: 575px) {
  .header__area .header__flex___container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__area .header__left {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .header__area .header__right {
    width: 100%;
  }
  .header__area .header__right .right__bottom {
    text-align: center;
  }
  .header__area .header__right ul li {
    margin-left: 10px;
  }
  .today .today__left h2 {
    font-size: 16px;
  }
  .today .today__right h3 {
    font-size: 12px;
  }
  .service {
    padding: 40px 0;
  }
  .service .service__grid__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .indonectetus {
    padding-bottom: 40px;
  }
  .indonectetus .indonectetus__heading .indonectetus__heading--relative {
    font-size: 18px;
  }
  .indonectetus .indonectetus__heading .indonectetus__heading--relative::after {
    width: 140px;
    top: 12px;
    height: 2px;
  }
  .indonectetus .indonectetus__heading .indonectetus__heading--relative::before {
    width: 140px;
    top: 12px;
    height: 2px;
  }
  .indonectetus .indonectetus__grid__container {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__area .footer__grid__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */