.copyright {
    background-color: #190a02;
    padding: 20px 0;
    .copyright___flex__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .copyright__left {
            width: 50%;
            color: #ffffff;
        }
        .copyright__right {
            width: 50%;
            color: #ffffff;
            text-align: right;
        }
    }
}