.service {
    padding: 80px 0;
    .service__flex__container {
        display: flex;
        justify-content: space-between;
        .service__section {
            width: 300px;
            display: flex;
            justify-content: space-between;
            border: 1px solid black;
            .service__image {
                width: 100px;
            }
            .service__text {    
                width: 182px;
                h4 {
                    font-size: 20px;
                    position: relative;
                    &:after {
                        position: absolute;
                        content: "";
                        width: 95px;
                        height: 3px;
                        background-color: black;
                        left: 0;
                        bottom: -20%;
                    }
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}